@import url("https://fonts.googleapis.com/css?family=Roboto|Poppins&display=swap");

body {
  background: #0d0d0d;
  overflow-anchor: none;
}

.navbar-brand {
  font-family: Poppins;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: auto;
  scroll-snap-type: y proximity;
  -ms-overflow-style: none;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wolf-path {
  fill: transparent;
  stroke: red;
  stroke-width: 15;
  stroke-dasharray: 25000px;
  stroke-dashoffset: 25000px;
  animation-name: draw, grow;
  animation-duration: 3s, 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1, infinite;
  animation-timing-function: ease-in;
}

@keyframes grow {
  from {
    stroke-width: 15;
  }

  50% {
    stroke-width: 25;
  }

  to {
    stroke-width: 15;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.carousel-inner h5,
p {
  color: black;
}
.card {
  margin-right: 2em;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
  display: none;
}
.sections {
  height: 100vh;
  scroll-snap-align: start;
}

#projects {
  height: max-content;
}

#projects .jumbotron {
  background-color: #ffffff;
}
#blog .jumbotron {
  background-color: #0d0d0d !important;
}

#blog .lead {
  color: white;
}

#blog h1 {
  color: whitesmoke;
}
#blog p {
  color: white;
}
#blog hr {
  border: none;
  height: 1px;
  background: whitesmoke;
}

#blog {
  height: max-content;
}
.main-text {
  color: white;
  font-size: 4rem;
  font-family: Roboto, sans-serif;
  text-align: left;
  margin-left: 25%;
  margin-right: 10%;
  animation: fadein 4s;
  animation-timing-function: ease-in;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}

@media screen and (max-width: 400px) {
  #home h1 {
    margin-top: 20%;
    margin-left: 10%;
  }

  #links {
    position: absolute;
    margin-top: 50vh;
    margin-left: auto;
  }
}

#blog p {
  color: black;
}

.jobs {
  color: white;
  font-size: 4rem;
  font-family: Roboto, sans-serif;
  text-align: left;
  animation: fadein 4s;
  animation-timing-function: ease-in;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#links {
  position: absolute;
  margin-top: 50vh;
  margin-left: 20vw;
}

#particles-js {
  background: #0d0d0d;
  height: inherit;
}

.site-footer {
  background-color: #0d0d0d;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.codepen:hover {
  background-color: #ff3c77;
}
.social-icons a.github:hover {
  background-color: #2ea054;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.behance:hover {
  background-color: #3f52fc;
}
.social-icons a.codeforces:hover {
  background-color: #fd7e14;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
